.cell{
    height:75px;
    width:75px;
    border: 2px solid;
    box-shadow:0 0 0 2px;
    line-height:75px;
    font-size:55px;
    cursor : pointer;
    

}
#gameContiner{
    font-family: "Permenent Marker" , cursive;
    text-align: center;

}

#game-board{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 235px;
    margin:auto;
}

